*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: "Comfortaa", sans-serif;
}

/*hero sec tion*/
#hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/static/img/hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(40%);
}

#hero_content{
    position: absolute;

}
#hero_content h1{
    color: #fff;
    font-size: 2.8rem;
    text-shadow: 2px 2px 2px #000;
}
#hero_content h2{
    color: #fff;
    font-size: 2rem;
    font-family: cursive;
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-shadow: 2px 2px 2px #000;
}
#hero_content a{
    color: #fff;
    padding: 7px 30px 7px 30px;
    border: 2px solid gray;
    background: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 25px;
}

#hero_content a:hover{
    background: navy;
}

/*menu sec tion*/

#menu{
    padding: 25px 0 25px 0;
}

#section{
    padding: 25px 0 px 0;
    text-align: center;
    font-size: 2rem;
}

#menu_row{
    display: flex;
    padding: 0 100px 0 100px;
}
#menu_col{
    box-shadow: 1px 1px 1px #bbb;
    border: 1px solid #bbb;
    background-color: #bbb;
    margin: 10px;
    padding: 10px;
    flex: 1;
}
#menu_col h2{
    background-color: gray;
    color: black;
    text-align: center;
    padding: 2px;
    font-family: cursive;
}

#image{
    width: 150px;
    height: 120px;
    padding: 2px;
    border: 2px solid gray;
}
#image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;

}

#menu h4{
    padding: 4px;
}